<div class="content-center">
<form action="/cart" method="post">
  <input type="hidden" name="item_id" value="<%= @item.id %>">
  <label>Quantity:</label>
  <input type="number" name="quantity">
  <input type="submit" value="Submit">
</form>
</div>
