<% @user = current_user %>
<div class="content-center">
    <h1>Bem-vindo รก uSticker</h1>
    <br>
    <p>Veja a nossa loja e encontre os autocolantes com que sempre sonhou, ou o caralho.</p>
    <br>
    <div class="text-center">
      <%= link_to "Browse Items", items_path, class: "btn btn-secondary" %>
      <%= link_to "New Item", new_item_path, class: "btn btn-primary" if @user&.admin == true %>
    </div>
</div>
