<div class="container">
  <p><% @item.name %></p>
  <p><% @item.description %></p>
  <p><% @item.price %></p>
</div>
<%= link_to("items",items_path) %>
<%= link_to "Home", root_path, class: "btn btn-primary" %>
