.navbar-lewagon {
  justify-content: space-between;
  background: #FCF0E6;
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:  2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 40px;
  height: 35px;
}

.nav-link:hover {
  border:2px;
  border-color: #FCF0E6;
}
